.header {
    display: flex;
    justify-content: space-between;
    padding: 1.25rem;
    background-color: pink;



    &>.logo {
        &>span {
            text-decoration: underline;

        }
    }

    &>nav {
        &>ul {
            display: flex;
            align-items: center; 
            gap: 1.5625rem;
            font-family: var(--fonte-secundaria);

            &>.pink>a{
                color: rgb(145, 0, 72);
            }

            &>li>a{
                color: black;
                
            }
            

            &>.social_links {
                display: flex;
                gap: 1rem;

                &>a>img {
                    width: 2rem;
                }

            }

        }
    }
}